{% extends 'base.html' %}
{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">

                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <div class="d-flex mb3">
                                    <h4 class="nk-block-title mr-auto ">Customers</h4>
                                    {#<a href="html/user-list-regular.html"
                                        class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                            class="icon ni ni-arrow-left"></em><span>Back</span></a>#}
                                    {#<button class="d-sm-inline-flex btn btn-dark btn-md ">Add </button>#}
                                    <button class="d-sm-inline-flex btn btn-outline-light bg-white btn-md" data-toggle="modal"
                                        data-target="#filter"><em class="icon ni ni-filter"></em><span>Filter</span></button>
                                </div>
                                <div class="nk-block-des">
                                    {#<p>Using the most basic table markup, here’s how <code
                                            class="code-class">.table</code> based tables look by default.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="card card-preview">
                            <div class="card-inner">
                                <table class="datatable-init table" data-ordering="false">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Patient Name</th>
                                            <th>Phone Number</th>
                                            <th>Date Of Birth</th>
                                            <th>Email</th>
                                            <th>Residence Location</th>
                                            <th>Confirmation Choice</th>
                                            <th>WhatsApp Contact</th>
                                            <!-- <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in customers[::-1] %}
                                        <tr class="clickable-row" onclick="window.location='{{url_for('customer_details', user_id=customer.user_id)}}';">
                                            <td>
                                                <a href="{{url_for('customer_details', user_id=customer.user_id)}}">
                                                    {{loop.index}}
                                                </a>
                                            </td>
                                            <td>
                                                    {% if customer.user_fname %}
                                                    {{customer.user_fname|capitalize}} {{customer.user_lname|capitalize}}
                                                    {% else %}
                                                    Not Available
                                                    {% endif %}
                                            </td>
                                            <td>
                                                    {% if customer.mobile_number %}
                                                    {{customer.mobile_number}}
                                                    {% else %}
                                                    Not Available
                                                    {% endif %}
                                            </td>
                                            <td>
                                                    {% if customer.date_of_birth %}
                                                    {{customer.date_of_birth|date_format}}
                                                    {% else %}
                                                    Not Available
                                                    {% endif %}
                                            </td>
                                            <td>
                                                    {{customer.user_mail}}
                                            </td>
                                            <td>
                                                    {{customer.residence_location}}
                                            </td>
                                            <td>
                                                {% if customer.confirmation_choice %}
                                                    {{ customer.confirmation_choice }}
                                                {% else %}
                                                   Email
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if customer.whatsapp_contact %}
                                                {{customer.whatsapp_contact}}
                                                {% else %}
                                                Not Available
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                                                            
                                </table>
                            </div>
                        </div><!-- .card-preview -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########################## FILTER MODAL @S ################################## -->

<div class="modal fade" tabindex="-1" id="filter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="form-validate is-alter" novalidate="novalidate">
                    <input type="hidden" id="form_type" name="form_type" value="filter">
                    
                    <div class="form-group">
                        <label class="form-label" for="specialization">Specialization</label>
                        <div class="form-control-wrap ">
                            <div class="form-control-select">
                                <select class="form-control" id="specialization" name="specialization">
                                    <option value="">All Specializations</option>
                                    <option value="sexologist">Sexologist</option>
                                    <option value="psychologist">Psychologist</option>
                                    <option value="dietitian">Dietitian</option>
                                    <option value="somnologist">Somnologist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="location">Location</label>
                        <div class="form-control-wrap ">
                            <div class="form-control-select">
                                <select class="form-control" id="location" name="location">
                                    <option value="">All Locations</option>
                                    <option value="trivandrum">Trivandrum</option>
                                    <option value="kochi">Kochi</option>
                                    <option value="kannur">Kannur</option>
                                    <option value="thrissur">Thrissur</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-md btn-dark">Apply Filter</button>
                        <a href="#" class="btn btn-md btn-mw btn-dark" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- ########################## FILTER MODAL @E ################################## -->
{% endblock %}